<ion-header>
  <ion-toolbar>
    <div class="bar bar-subheader item-input-inset bar-light" id="search-bar">
      <label class="item-input-wrapper">
        <img id="iconBl"start src='../../assets/imgs/logo1.png'><p id="textBl">Bookleaf</p>
        <ion-icon end (click)="openSearch()" slot="icon-only" name="search" id="icon-color"></ion-icon>
      </label>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="category">
    <h4>Libros educativos</h4>
  </div>
  <div class="category-block">
    <ion-slides #slide1>
      <ion-slide *ngFor="let book of educacion">
        <div>
          <ion-card id="card-book" (tap)="open(book)">

            <img class="img-size" src="{{book.urlCover}}">
            <div id="stars-group">

              <p id="stars-numbers">{{book.stars}}<ion-icon id="like-icon" ios="ios-thumbs-up" md="md-thumbs-up">
                </ion-icon>
              </p>
            </div>

          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

  </div>
  <hr class="style13">
  <div class="category">
    <h4>Literatura</h4>
  </div>
  <div class="category-block">
    <ion-slides #slide2>
      <ion-slide *ngFor="let book of literatura">
        <div>
          <ion-card id="card-book" (tap)="open(book)">
            <img class="img-size" src="{{book.urlCover}}">
            <div id="stars-group">

              <p id="stars-numbers">{{book.stars}}<ion-icon id="like-icon" ios="ios-thumbs-up" md="md-thumbs-up">
                </ion-icon>
              </p>
            </div>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <hr class="style13">


  <div class="category">
    <h4>Cuentos</h4>
  </div>
  <div class="category-block">
    <ion-slides #slide3>
      <ion-slide *ngFor="let book of cuentos">
        <div>
          <ion-card id="card-book" (tap)="open(book)">

            <img class="img-size" src="{{book.urlCover}}">
            <div id="stars-group">

              <p id="stars-numbers">{{book.stars}}<ion-icon id="like-icon" ios="ios-thumbs-up" md="md-thumbs-up">
                </ion-icon>
              </p>
            </div>

          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

  </div>
  <hr class="style13">

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col>
          <div id="row-contact">
            <ion-icon slot="icon-only" name="contact" id="icon-contact" (tap)="openProfile()"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div id="row-switch">
            <ion-icon slot="icon-only" name="switch" id="icon-switch" (tap)="returnType()"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div id="row-bookmark">
            <ion-icon slot="icon-only" name="bookmark" id="icon-bookmark" (tap)="openFavorites()"></ion-icon>
          </div>
        </ion-col>

        <ion-col>
          <div id="row-bookmark">
            <ion-icon slot="icon-only" name="cash" id="icon-bookmark" (tap)="openPurchases()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>