page-adminhome {
    @import url('https://fonts.googleapis.com/css?family=Lora|Roboto:400,500');
    @import url('https://fonts.googleapis.com/css?family=Assistant|Cinzel|Lato&display=swap');
    .no-scroll .scroll-content{
        overflow: hidden;
        text-align: center;
   }

   .toolbar-background {
    background-color: #6DB452;
  }

   #card-book{
    width: 32vw;
    height: 33vh;
    background-size: cover;
    }
 
    .img-size{
    width: 32vw;
    height: 30vh;
     background-size: cover;
    
    }

   #imgHistory{
       width: 100%;
       height: 100%;
   }

   #stars-numbers{
    font-size: 12px;
    padding-right: 4px;
    
   }

   #star-empty{
       color: #c3c8c9;
   }

  #stars-group{
      text-align: left;
      padding-left: 4px;
  }

  #downloadable{
      float: right;
      padding-top: 3px;
      color: rgb(48, 48, 48);
      padding-right: 3px;
  }


  #text-add{
      border-radius: 4px 4px 0px 0px;
      background-color: rgb(138, 115, 201);
      font-size: 12px;
      padding-top: 3px;
      padding-bottom: 3px;
      color: rgb(255, 255, 255);
      width: 100%;
  }

   #boxOne{
    
    height: 100px;
    border-radius: 4px;
    background-image: url(https://kit8.net/images/thumbnails/580/386/detailed/4/online_library@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
   }

   h5{
       font-family: 'Assistant';
       font-size: 12px;
   }
   
   #boxTwo{
    background-image: url(https://image.freepik.com/free-vector/flat-background-hands-holding-books_23-2147594306.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    border-radius: 4px;
   }

   #boxThree{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/144/886/non_2x/business-vector-illustration.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3e7583;
    height: 100px;
    border-radius: 4px;
   }

   #grid{
       margin-top: 10px;
       text-align: center;
   }

    hr.style13 {
        height: 7px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }

    hr.style14 {
        height: 7px;
        border: 0;

    }

   .category{
       padding-left: 15px;
       font-family: 'Roboto';
       height: 2vh;
   }

   h4{
       font-size: 18px;
       font-family: 'Assistant';
       
   }

   p{
       font-family: 'Assistant';
    font-size: 13px;
    width: 290px;
   }

   #row-contact{
    display: flex;
    justify-content: center;
        #icon-contact{
            font-size: 30px;
            color: white;
        }
   }

   #row-switch{
    display: flex;
    justify-content: center;
        #icon-switch{
            font-size: 30px;
            color: white;
        }
   }

   #row-book{
    display: flex;
    justify-content: center;
        #icon-book{  
            font-size: 30px;
            color: white;
        }
        
    }

    #row-bookmark{
        display: flex;
        justify-content: center;
        #icon-bookmark{
            font-size: 30px;
            color: white;
        }

    }

    #row-addbook{
        display: flex;
        justify-content: center;
        #icon-addbook{
            font-size: 30px;
            color: white;
        }

    }

    #search-bar{
        height: 5vh;
    }

    #like-icon{
        color: blue;
    }

    #icon-color{
        font-size: 20px;
        color: white;
        position: absolute;
        bottom: 30%;
        right: 5%;
      }



   ion-icon{
       font-size: 12px;
       padding-bottom: 3px;
   }
   
   
}